#
# .gitignore tells git to ignore certain stuff if
# the user wants to upload the source to github or
# similar.
#
# MarkedRain | 16th of June, 2024 at 20:46 like someone cares
#

# MarkedRain directories & symlinks
bin
builds/

# MarkedRain files
help/
source/configs/hashes.txt
source/initramfs/source/init
source/buildroot/package/pkg-generic.mk
changelog

# make menuconfig tmp & usr cfg
.config
.config.in
.config.old
.kconfig.d
.tmpconfig.h
*.o
include/

# Random
config.h
linux/
test/
mwx11/

# gitignore of Buildroot
source/buildroot/output
source/buildroot/dl
source/buildroot/.auto.deps
source/buildroot/*.depend
source/buildroot/*.o
source/buildroot/*.patch
source/buildroot/*.diff
source/buildroot/*.orig
source/buildroot/*.rej
source/buildroot/*~
source/buildroot/*.pyc

# Applications output directory
source/applications/*
!source/applications/*.mk

